<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bikeshop &#8212; Title Page</title>
</head>

<body>

  <div class="container-fluid">

    <% include ../components/main-header/main-header.html %>
    <% include ../components/categories/categories.html %>
    <% include ../components/popular/popular.html %>
    <% include ../components/contact/contact.html %>
    <% include ../components/main-footer/main-footer.html %>

  </div>

</body>

</html>
