<nav>

  <ul class="nav nav--footer">

    <li class="nav__item-wrapper nav__item-wrapper--footer">
      <a href="#" class="nav__item nav__item--footer">Bicycles</a>
    </li>

    <li class="nav__item-wrapper nav__item-wrapper--footer">
      <a href="#" class="nav__item nav__item--footer">Parts</a>
    </li>

    <li class="nav__item-wrapper nav__item-wrapper--footer">
      <a href="#" class="nav__item nav__item--footer">Accessories</a>
    </li>

    <li class="nav__item-wrapper nav__item-wrapper--footer">
      <a href="#" class="nav__item nav__item--footer">Extras</a>
    </li>

  </ul>

</nav>
