@import "../../common/styles/variables.scss";

.nav {
  &--footer {
    display: none;

    @media (min-width: 992px) {
      display: flex;

      margin-top: 18px;
    }
  }

  &__item-wrapper--footer {
    margin-left: 23px;
  }

  &__item-wrapper--footer:last-of-type &__item--footer {
    padding-right: 0;
  }

  &__item--footer {
    padding-right: 6.5px;
    padding-left: 6.5px;

    color: black;
    &:hover {
      color: $gray;
    }
  }
}
