<section id="categories" class="categories">

  <div class="row">
    <div class="col-12">
      <div class="section-title">Categories</div>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <article class="categories-item">
          <img src="categories1.jpg" class="categories-item__image"  alt="First category">
          <div class="categories-item__caption">
            <div class="categories-item__title">FIXED / SINGLE SPEED</div>
            <p>Are you ready for the 2 / 5 Revolution?</p>
            <a href="#" class="button button--categories">Go to Store</a>
          </div>
        </article>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <article class="categories-item">
          <img src="categories2.jpg" class="categories-item__image"  alt="Second category">
          <div class="categories-item__caption">
            <div class="categories-item__title">PREMIUM SERIES</div>
            <p>Exclusive Bike Components</p>
            <a href="#" class="button button--categories">Go to Store</a>
          </div>
        </article>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <article class="categories-item">
          <img src="categories3.jpg" class="categories-item__image"  alt="Third category">
          <div class="categories-item__caption">
            <div class="categories-item__title">CITY BIKES</div>
            <p>Street Playground</p>
            <a href="#" class="button button--categories">Go to Store</a>
          </div>
        </article>
      </div>

    </div>

  </div>


</section>
