.section-title {
  font-size: 24px;
  font-weight: 700;

  margin-bottom: 15px;

  text-align: center;
  text-transform: uppercase;

  color: black;

  @media (min-width: 1200px) {
    font-size: 28px;
    line-height: 32px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.63%;
  }
}

.button {
  font-size: 12px;
  font-weight: 700;

  display: inline-block;

  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: white;
  border: 3px solid $gray;
  border-radius: 5px;
  outline: none;
  background-color: $gray;

  &:hover {
    color: $yellow;
    border-color: black;
    background-color: black;
  }

  &:focus {
    animation: button 1s;
  }
}

@keyframes button {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-10%);
  }

  66% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}

//Scaffolding
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $main-font-set;
  font-size: 1.4rem;
  line-height: 1;

  overflow-x: hidden;

  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}
