$gutter-xl: 15px;
$gutter-lg: 15px;
$gutter-md: 1px;
$gutter-sm: 1px;
$gutter: 0;
$gutter-container-fluid: 0;
$gutter-container: 0;

//Typography
$main-font-set: Roboto, Arial, serif;
$html-font-size: 10px;

//Colors
$yellow: #fcff19;
$gray: #b7b7b7;
