.logo {
  margin-right: auto;
  margin-left: 5px;

  cursor: pointer;
  @media (min-width: 576px) {
    max-width: none;
    margin-left: 5px;
  }
  @media (min-width: 1200px) {
    max-width: none;
    margin-bottom: 1px;
    margin-left: -1px;
  }
  &--footer {
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 1200px) {
      margin-top: 7px;
      margin-left: -1px;
    }
  }
}
