.contact {
  max-height: 634px;
  padding-top: 30px;
  padding-bottom: 15px;

  background-image: url("bg-contact.jpg");
  background-repeat: no-repeat;
  @media (min-width: 1200px) {
    padding-top: 62px;
    padding-bottom: 86px;
  }
}
