<section class="carousel">

  <ul class="carousel__content">

    <li class="carousel__item">
      <img src="slide1.jpg" alt="First slide">
      <div class="carousel__caption">
        <h3 class="carousel__caption-title">Handmade Bicycle</h3>
        <p class="carousel__caption-text">You
          <span class="carousel__caption-text--highlighted">create</span>
          the
          <span class="carousel__caption-text--highlighted">journey,</span>
          we supply the
          <span class="carousel__caption-text--highlighted">parts.</span>
        </p>
      </div>
    </li>

    <li class="carousel__item">
      <img src="slide2.jpg" alt="Second slide">
      <div class="carousel__caption">
        <h3 class="carousel__caption-title">Try it out</h3>
        <p class="carousel__caption-text">You
          <span class="carousel__caption-text--highlighted">choose,</span>
          we
          <span class="carousel__caption-text--highlighted">supply.</span>
        </p>
      </div>
    </li>

    <li class="carousel__item">
      <img src="slide3.jpg" alt="Third slide">
      <div class="carousel__caption">
        <h3 class="carousel__caption-title">What are you waiting for?</h3>
        <p class="carousel__caption-text">
          <span class="carousel__caption-text--highlighted">Awesome</span>
          bikes, buy
          <span class="carousel__caption-text--highlighted">yours!</span>
        </p>
      </div>
    </li>

  </ul>

  <a href="#" class="button button--carousel">Shop Bikes</a>

  <div class="carousel__control carousel__control--prev icon-carousel-prev"></div>

  <div class="carousel__control carousel__control--next icon-carousel-next"></div>

<a class="carousel__scroll-icon" href="#categories"></a>

  <!-- <ul class="carousel__indicators">
    <li class="carousel__indicator"></li>
    <li class="carousel__indicator"></li>
    <li class="carousel__indicator"></li>
  </ul> -->

</section>
