<div class="contact-form">
  <p class="contact-form__subtitle">Please contact us for all inquiries and purchase options.</p>

  <form action="/echo">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <input class="contact-form__field" type="text" placeholder="name">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <input class="contact-form__field" type="text" placeholder="surname">
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <input class="contact-form__field contact-form__field--email" type="email" placeholder="user@domain.com" required>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <textarea class="contact-form__field contact-form__field--message" name="name" rows="7" placeholder="message" required></textarea>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <input class="button button--contact-form" type="submit" value="send">
      </div>
    </div>
  </form>
</div>
