@import "../../common/styles/variables.scss";

@keyframes nav__item {
  33% {
    transform: translateY(5%);
  }
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  padding-top: 10vh;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  transition: transform 0.3s;
  transform: translateX(100%);

  background-color: rgba(0, 0, 0, 0.6);

  justify-content: flex-start;

  &--show {
    transform: translateX(0);
  }

  @media (min-width: 992px) {
    position: static;

    flex-direction: row;

    margin-top: 17px;
    padding: 0;

    transform: translateX(0);

    background-color: transparent;

    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__submenu {
    position: absolute;

    display: none;

    transition: opacity 0.3s;

    @media (min-width: 992px) {
      opacity: 0;
    }
  }

  &__item-wrapper {
    @media (min-width: 992px) {
      margin-left: 8.3px;
    }

    &--last {
      @media (min-width: 992px) {
        margin-right: 1px;
        margin-left: 28px;
      }
    }

    &--submenu-trigger:hover > .nav__submenu {
      @media (min-width: 992px) {
        display: inherit;

        opacity: 1;
      }
    }

    &--submenu {
      margin-left: 0;

      &:first-child > .nav__item--submenu {
        padding-top: 12px;

        border-top-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:last-child > .nav__item--submenu {
        padding-top: 2px;
        padding-bottom: 7px;

        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }

  &__item {
    font-size: 15px;
    font-weight: 700;
    line-height: 1;

    display: block;

    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    cursor: pointer;
    transition: all 0.15s;
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:hover {
      color: black;
      background-color: $yellow;
    }

    &:focus {
      animation: nav__item 1s;
    }

    @media (min-width: 992px) {
      line-height: 26px;

      padding-top: 6px;
      padding-right: 14px;
      padding-bottom: 14px;
      padding-left: 13px;

      transition: all 0.3s;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &--submenu {
      color: black;
      border-radius: 0;
      background-color: $yellow;

      @media (min-width: 992px) {
        padding-top: 3px;
        padding-right: 53px;
        padding-bottom: 4px;
      }

      &:hover {
        color: white;
        background-color: black;
      }
    }

    &--basket {
      position: absolute;
      top: -35px;
      left: 5px;

      margin-top: 4px;

      border-radius: 0;
      @media (min-width: 992px) {
        position: static;

        padding: 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
