<nav>

  <ul class="nav">

    <li class="nav__item-wrapper nav__item-wrapper--submenu-trigger">
      <a href="#" class="nav__item">Bicycles</a>

      <ul class="nav__submenu nav__submenu--1lvl">
        <li class="nav__item-wrapper nav__item-wrapper--submenu">
          <a href="#" class="nav__item nav__item--submenu nav__item--submenu-first">
            Fixed / Single Speed
          </a>
        </li>
        <li class="nav__item-wrapper nav__item-wrapper--submenu">
          <a href="#" class="nav__item nav__item--submenu">
            City Bikes
          </a>
        </li>
        <li class="nav__item-wrapper nav__item-wrapper--submenu">
          <a href="#" class="nav__item nav__item--submenu nav__item--submenu-last">
            Premium Series
          </a>
        </li>
      </ul>
    </li>

    <li class="nav__item-wrapper">
      <a href="#" class="nav__item">Parts</a>
    </li>

    <li class="nav__item-wrapper">
      <a href="#" class="nav__item">Accessories</a>
    </li>

    <li class="nav__item-wrapper">
      <a href="#" class="nav__item">Extras</a>
    </li>

    <li class="nav__item-wrapper nav__item-wrapper--last">
        <a href="#" class="nav__item nav__item--basket icon-basket"></a>
    </li>

  </ul>

</nav>
