@import "../../common/styles/variables.scss";

.popular {
  width: 100vw;
  padding-top: 45px;
  padding-bottom: 15px;

  @media (min-width: 768px) {
    max-width: 100%;
    padding-top: 70px;
    padding-bottom: 94px;
  }

  @media (min-width: 992px) {
    max-width: none;
  }

  @media (min-width: 1200px) {
    max-width: none;
    padding-top: 70px;
    padding-right: 1.208%;
    padding-bottom: 34px;
    padding-left: 1.208%;
  }

  .section-title {
    margin-bottom: 5px;
    @media (min-width: 1200px) {
      margin-right: 0.214%;
      margin-left: 0;
    }
  }

  &-item {
    width: 95%;
    max-width: 504px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;

    @media (min-width: 768px) {
      padding-right: 10px;
      padding-left: 10px;
    }

    @media (min-width: 1200px) {
      max-width: 78.4%;
      margin-top: 43px;
      margin-left: 10.728%;
      padding-right: 0;
      padding-left: 0;
    }

    &__image {
      margin-right: auto;
      margin-left: auto;
    }

    &__info-wrapper {
      display: flex;

      max-width: 100%;
      margin-right: auto;
      margin-left: auto;

      justify-content: space-between;
      flex-wrap: nowrap;

      @media (min-width: 768px) {
        max-width: 290px;
        margin-right: auto;
        margin-left: auto;

        flex-wrap: wrap;
      }

      @media (min-width: 1200px) {
        max-width: none;
        margin-right: auto;

        flex-wrap: nowrap;
      }
    }

    &__info {
      width: 40%;
      margin-top: 5px;
      padding-right: 2px;

      @media (min-width: 768px) {
        display: flex;

        width: 95%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0.5vw;
        padding-left: 0.5vw;

        justify-content: space-between;
      }
      @media (min-width: 1200px) {
        display: block;

        margin-top: 12px;
        padding-right: 0;
        padding-left: 0;

        justify-content: space-between;
      }
    }

    &__title {
      font-size: 15px;
      font-weight: 700;

      padding-right: 1px;

      white-space: normal;
      letter-spacing: 0.15px;
      text-transform: uppercase;

      @media (min-width: 1200px) {
        padding-right: 0;
      }
    }

    &__price {
      font-size: 15px;
      font-weight: 300;

      margin-top: 5px;

      @media (min-width: 768px) {
        margin-top: 0;
      }

      @media (min-width: 1200px) {
        margin-top: 9px;
      }
    }

    &__options {
      display: flex;

      width: 65%;

      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;

      @media (min-width: 768px) {
        width: 100%;
        margin-top: 10px;

        justify-content: center;
      }

      @media (min-width: 1200px) {
        width: 70%;
        margin-top: 10px;

        justify-content: flex-end;
      }
    }

    &__select-wrapper {
      position: relative;





      @media (min-width: 1200px) {
        margin-right: 0.48vw;
      }

      &::after {
        position: absolute;
        top: 37.24%;
        right: 11.89%;

        width: 18px;
        height: 12px;

        content: "";



        @media (min-width: 1200px) {
        }
      }
    }

    &__select {
      font-size: 12px;
      font-weight: 700;

      position: relative;

      margin-right: 1%;
      padding-top: 13px;
      padding-right: 10vw;
      padding-bottom: 11px;
      padding-left: 2vw;

      text-decoration: none;
      text-transform: uppercase;

      color: black;
      border: 1px solid #8f8f8f;
      border-radius: 10px;
      outline: none;
      background-color: transparent;
      background-image: url("sprite.png");
      background-repeat: no-repeat;
      background-position: 70px 103.5%;

      appearance: none;

      @media (min-width: 576px) {
        background-position: 100px 103.5%;
      }

      @media (min-width: 768px) {
        width: 100%;
        padding-right: 5vw;
      }

      @media (min-width: 992px) {
        width: auto;
        margin-right: 2vw;
      }

      @media (min-width: 1200px) {
        width: auto;
        margin-right: 0.48vw;
        padding-top: 16px;
        padding-right: 3.7vw;
        padding-bottom: 11px;
        padding-left: 0.94vw;

        background-position: 85px 103.5%;
      }

      @media (min-width: 1610px) {
        background-position: 107px 103.5%;
      }
    }
  }

  [class*="col-"]:nth-child(3n+1) &-item {
    @media (min-width: 1200px) {
      margin-left: 0;
    }
  }

  [class*="col-"]:nth-child(3n) &-item {
    @media (min-width: 1200px) {
      margin-left: 21.4%;
    }
  }
}

.button--popular {
  padding-top: 11px;
  padding-right: 4vw;
  padding-bottom: 9px;
  padding-left: 4vw;

  border-radius: 8px;

  @media (min-width: 992px) {
    padding-right: 2vw;
    padding-left: 2vw;
  }

  @media (min-width: 1200px) {
    padding-top: 14px;
    padding-right: 1.6vw;
    padding-bottom: 9px;
    padding-left: 1.6vw;
  }

  &:hover {
    color: $yellow;
    border-color: black;
    background-color: black;
  }
}
