<section class="popular">

  <div class="section-title">Popular Bikes</div>

  <div class="row no-gutters">

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <article class="popular-item">

        <img src="bike1.jpg" class="popular-item__image"  alt="First Bike">
        <div class="popular-item__info-wrapper">
          <div class="popular-item__info">
            <div class="popular-item__title">Fixed Gear</div>
            <div class="popular-item__price">$249.00</div>
          </div>

          <form class="popular-item__options" action="/echo">
              <select name="bike-color" class="popular-item__select">
                <option value="" disabled selected>Option</option>
                <option value="black">Black</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="blue">Blue</option>
              </select>

            <button type="submit" class="button button--popular">Buy</a>
          </form>
        </div>
      </article>

    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <article class="popular-item">

        <img src="bike2.jpg" class="popular-item__image"  alt="Second Bike">

        <div class="popular-item__info-wrapper">
          <div class="popular-item__info">
            <div class="popular-item__title">Big Boy Ultra</div>
            <div class="popular-item__price">$240.00</div>
          </div>

          <form class="popular-item__options" action="/echo">
              <select name="bike-color" class="popular-item__select">
                <option value="" disabled selected>Option</option>
                <option value="black">Black</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="blue">Blue</option>
              </select>

            <button type="submit" class="button button--popular">Buy</a>
          </form>
        </div>

      </article>

    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <article class="popular-item">

        <img src="bike3.jpg" class="popular-item__image" alt="Third Bike">

        <div class="popular-item__info-wrapper">
          <div class="popular-item__info">
            <div class="popular-item__title">Sanchaez</div>
            <div class="popular-item__price">$240.00</div>
          </div>

          <form class="popular-item__options" action="/echo">
              <select name="bike-color" class="popular-item__select">
                <option value="" disabled selected>Option</option>
                <option value="black">Black</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="blue">Blue</option>
              </select>

            <button type="submit" class="button button--popular">Buy</a>
          </form>
        </div>

      </article>

    </div>

  </div>

</section>
